@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #efefef;
}



/* Home stylish start */
#popImageFile{
    bottom: 0%;
    
}

#popImageText{
    top:-50%;
    
}

.poptop{
    bottom: 0%;
    animation:1s alternate poptopimage;
}

.popdown{
    top:50%;
    animation:1s alternate popdowntext;
}

.section-home-1{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-columns: 100%;
}

.subdiv{
    animation: 1s animi infinite alternate;
}



@keyframes poptopimage {
    0%{
        bottom:-10%;
    }
    100%{
        bottom:0%;
    }
    
}

@keyframes popdowntext {
    0%{
        top:0%;
    }
    100%{
        top:50%;
    }
}

@keyframes animi {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

/* Home stylish end */